@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: sans-serif;
}